@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Its Admin Bussiness</h1>
    <p class="lead">Its admin portal.Authentication required !</p>
    <p><a href="http://www.lovelypa.in" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Study Management</h2>
        <p>It is a part of personal assistant.It will help to tell us the attendance,cgpa,classes to be bunk,and much more.</p>
    </div>
    <div class="col-md-4">
        <h2>Health Management</h2>
        <p>It helps to tell diseases based on the symptoms of the patient.</p>

    </div>
    <div class="col-md-4">
        <h2>Finance Management</h2>
        <p>It helps to make a record of the expenditure of daily basis.Also helps to maintain the record of money distribution in friend circle</p>
    </div>
</div>

